body {
  margin: 0;
  font-family: 'Righteous', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.test{
  border: 2px solid black;
}

.BootstrapSwitchButton{
  margin: auto;
}

.banned{
  /* border: 2px solid black; */
  color: #800000;
  text-decoration:line-through;
}

.Modal{

}

.Modal-Title{
  font-family: 'Righteous', cursive;
  text-align: center;
  font-weight: 900;
  font-size: 50px;
  color:rgb(52, 73, 94);
}

.Modal-Page{
  font-family: 'Righteous', cursive;
  margin-right: 20px;
  font-size: 25px;
}

.Modal-Body{
  height: 50vh;
  max-height: 50vh;
}

.Modal-BodyText{
  font-family: 'Righteous', cursive;
  text-align: center;
  font-size: 25px;
}

.Modal-BodyText1{
  font-family: 'Righteous', cursive;
  text-align: center;
  font-size: 15px;
}

.Button{
  font-family: 'Righteous', cursive;
}

.Navbar-logo{
  font-family: 'Righteous', cursive;
  font-size: 30px !important;
}

.nav-bar{
  width: 100%;
  font-family: 'Righteous', cursive;
}

.nav-item{
  margin: auto;
  font-size:larger;
}


#mainInfo > ul li{
  font-family: 'Righteous', cursive;
  display: inline-block;  /*把li點點去掉*/
  list-style: none; /*不要用任何style*/
  font-size: 20px; /*字的大小*/
  margin-top: 0.5em; /*置中在mainInfo的div中間*/
  padding: 0 28px 0 0; /*左右padding*/
}

#mainInfo > ul li > div{
  width: 30px; /*圖片寬度*/
  height: 30px; /*圖片高度*/
  display: inline-block; /*流動式的自動排版，才能使用width跟height*/
  position: relative; /*能改變相對位置*/
  top: 0.3em; /*高度置中*/
  margin: 0 0.1em; /*圖片跟文字之間有距離*/
  background-position: center; /*圖片置中*/
  background-repeat: no-repeat; /*圖片若太小不重複*/
  background-size: contain; /*讓圖片能scale*/
}

.Info-Start-Node{
   background-image: url("./Resources/Images/Info/StartNode.png");
}

.Info-End-Node{
	 background-image: url("./Resources/Images/Info/EndNode.png");
}

.Info-Bomb-Node{
	 background-image: url("./Resources/Images/Info/BombNode.png");	
}

.Info-Weight-Node{
  background-image: url("./Resources/Images/Info/WeightNode.png");	
}

.Info-Unvisited-Node{
	 background-image: url("./Resources/Images/Info/UnvisitedNode.png");	
}

.Info-Visited-Node{
	 background-image: url("./Resources/Images/Info/VisitedNode.png");	
}

.Info-Visited1-Node{
  background-image: url("./Resources/Images/Info/VisitedNode1.png");	
}

.Info-ShortestPathNode-Node{
	 background-image: url("./Resources/Images/Info/ShortestPathNode.png");	
}

.Info-WallNode-Node{
	 background-image: url("./Resources/Images/Info/WallNode.png");	
}

.Logo{
  width: 300px; /*圖片寬度*/
  height: 300px; /*圖片高度*/
  margin: auto;
  background-position: center; /*圖片置中*/
  background-repeat: no-repeat; /*圖片若太小不重複*/
  background-size: contain; /*讓圖片能scale*/
  background-image: url("./Resources/Images/Modal/Logo.png");	
}

.ShortestPath{
  width: 300px; /*圖片寬度*/
  height: 300px; /*圖片高度*/
  margin: auto;
  background-position: center; /*圖片置中*/
  background-repeat: no-repeat; /*圖片若太小不重複*/
  background-size: contain; /*讓圖片能scale*/
  background-image: url("./Resources/Images/Modal/ShortestPath.png");	
}


.Algorithm{
  width: 300px; /*圖片寬度*/
  height: 300px; /*圖片高度*/
  margin: auto;
  background-position: center; /*圖片置中*/
  background-repeat: no-repeat; /*圖片若太小不重複*/
  background-size: contain; /*讓圖片能scale*/
  background-image: url("./Resources/Images/Modal/Algorithms.png");	
}

.Maze{
  width: 300px; /*圖片寬度*/
  height: 300px; /*圖片高度*/
  margin: auto;
  background-position: center; /*圖片置中*/
  background-repeat: no-repeat; /*圖片若太小不重複*/
  background-size: contain; /*讓圖片能scale*/
  background-image: url("./Resources/Images/Modal/Mazes.png");	
}

.WallWeight{
  width: 300px; /*圖片寬度*/
  height: 300px; /*圖片高度*/
  margin: auto;
  background-position: center; /*圖片置中*/
  background-repeat: no-repeat; /*圖片若太小不重複*/
  background-size: contain; /*讓圖片能scale*/
  background-image: url("./Resources/Images/Modal/WallWeight.gif");	
}

.AddBomb{
  width: 300px; /*圖片寬度*/
  height: 300px; /*圖片高度*/
  margin: auto;
  background-position: center; /*圖片置中*/
  background-repeat: no-repeat; /*圖片若太小不重複*/
  background-size: contain; /*讓圖片能scale*/
  background-image: url("./Resources/Images/Modal/AddBomb.gif");	
}

.StartDrag{
  width: 300px; /*圖片寬度*/
  height: 300px; /*圖片高度*/
  margin: auto;
  background-position: center; /*圖片置中*/
  background-repeat: no-repeat; /*圖片若太小不重複*/
  background-size: contain; /*讓圖片能scale*/
  background-image: url("./Resources/Images/Modal/StartDrag.gif");	
}

.Other{
  width: 900px; /*圖片寬度*/
  height: 300px; /*圖片高度*/
  margin: auto;
  background-position: center; /*圖片置中*/
  background-repeat: no-repeat; /*圖片若太小不重複*/
  background-size: contain; /*讓圖片能scale*/
  background-image: url("./Resources/Images/Modal/Other.png");	
}

#algorithmDescriptor {
    font-family: 'Righteous', cursive;
    text-align: center;
    color: rgb(52, 73, 94);
    font-size: 30px;
}

#algorithmDescriptor > i {
    font-style: italic;
}

#algorithmDescriptor > b {
    font-weight: 700;
}

.tablePadding {
  padding: 10px 10px;
}

.start {
  background: white url('./Resources/Images/Info/StartNode.png');
  background-position: center;
  background-size: cover; /*填滿*/
}

.end {
  background: white url('./Resources/Images/Info/EndNode.png');
  background-position: center;
  background-size: cover; /*填滿*/
}

.bomb {
  background: white url('./Resources/Images/Info/BombNode.png');
  background-position: center;
  background-size: cover; /*填滿*/
}

.weight {
  background: white url('./Resources/Images/Info/WeightNode.png');
  background-position: center;
  background-size: cover; /*填滿*/
}

.background {
  background-color:white;
}

.wall {
  background-color:blue;
  animation-name: wallAnimation;
  animation-duration: 0.5s;
}

@keyframes wallAnimation {
  0%   {background-color: blue; transform: scale(0, 0);}
  25%  {background-color: blue; transform: scale(0.5, 0.5);}
  50%  {background-color: blue; transform: scale(1.2, 1.2);}
  100% {background-color: blue; transform: scale(1, 1);}
}

.search {
  background-color:#26FFFF;
  animation-name: searchAnimation;
  animation-duration: 0.5s;
}

@keyframes searchAnimation {
  0%   {background-color: #6E6EFF; border-radius: 50%;}
  25%  {background-color: #8CFF8C; border-radius: 80%;}
  50%  {background-color: #8CFF8C; border-radius: 90%;}
  100% {background-color: #26FFFF; border-radius: 100%;}
}

.searchBomb {
  background-color:#e403e4;
  animation-name: searchBombAnimation;
  animation-duration: 0.5s;
}

@keyframes searchBombAnimation {
  0%   {background-color: #f87b07; transform: scale(0.8, 0.8);}
  25%  {background-color: #ff2692; transform: scale(0.3, 0.3);}
  50%  {background-color: #f000bc; transform: scale(1.2, 1.2);}
  100% {background-color: #e403e4; transform: scale(1, 1);}
}

.searchFinal {
  background-color:#26FFFF;
}

.searchBombFinal {
  background-color:#e403e4;
}

.path {
  background-color:#F0F000;
  animation-name: pathAnimation;
  animation-duration: 0.5s;
  border: 0;
}

@keyframes pathAnimation {
  0%   {background-color: #26FFFF; transform: scale(0.8, 0.8);}
  25%  {background-color: #26FFFF; transform: scale(0.3, 0.3);}
  50%  {background-color: #F0F000; transform: scale(1.2, 1.2);}
  100% {background-color: #F0F000; transform: scale(1, 1);}
}

.pathFinal {
  background-color:#F0F000;
  border: 0;
}