body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navbar-logo{
  font-size: 30px !important;
}

.nav-bar{
  width: 100%;
}

.nav-item{
  margin: auto;
  font-size:larger;
}

/* .nav-link{
  color: green !important;
} */
/* .nav-item:hover{
  color: 
} */