:root {
  
    --nav-text-color: rgb(238, 224, 209);
    --navbar-color: rgb(146, 111, 79);
  
    --button-enable-color: rgb(237, 247, 233);
    --button-enable-text-color:rgb(116, 181, 88);
    --button-disable-color: rgb(252, 233, 232);
    --button-disable-text-color: rgb(216, 117, 128);
  
    --dropdown-background: rgb(243, 239, 235);;
    --dropdown-color: rgb(238, 222, 206);
    --select-color: rgb(163, 70, 81);
  
    --background: rgb(236, 224, 207);
    --text-color: rgb(52, 73, 94);
    --banned-color: #800000;
    --enable-color: rgb(158, 210, 169);
    --diable-color: rgb(242, 190, 195);
  
  }

.BootstrapSwitchButton{
    margin: auto;
  }
  
  .banned{
    color: var(--banned-color);
    text-decoration:line-through;
  }
  
  .buttonEnable{
    margin: auto;
    margin-top: 2vh;
    background-color: var(--button-enable-color);
    color: var(--button-enable-text-color);
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    display: block;
    padding: 0.7rem;
  }
  
  .buttonEnable:focus{
    outline: none !important;
    border: none !important;
  }
  
  .buttonDisable{
    margin: auto;
    background-color: var(--button-disable-color);
    color: var(--button-disable-text-color);
    font-size: 1.3rem;
    border: none;
    border-radius: 1rem;
    display: block;
    padding: 0.7rem;
  }
  
  .buttonDisable:focus{
    outline: none !important;
    border: none !important;
  }
  
  #mainInfo > ul li{
    font-family: 'Righteous', cursive;
    display: inline-block;  /*把li點點去掉*/
    list-style: none; /*不要用任何style*/
    font-size: 0.5rem; /*字的大小*/
    /* margin-top: 0.5em; 置中在mainInfo的div中間 */
    padding: 0 0.2rem 0 0; /*左右padding*/
  }
  
  #mainInfo > ul li > div{
    width: 1rem; /*圖片寬度*/
    height: 1rem; /*圖片高度*/
    display: inline-block; /*流動式的自動排版，才能使用width跟height*/
    position: relative; /*能改變相對位置*/
    /* top: 0.3em; 高度置中 */
    margin: 0 0.2em; /*圖片跟文字之間有距離*/
    background-position: center; /*圖片置中*/
    background-repeat: no-repeat; /*圖片若太小不重複*/
    background-size: contain; /*讓圖片能scale*/
  }
  
  .Info-Start-Node{
     background-image: url("../../../Resources/Images/Info/StartNode.png");
  }
  
  .Info-End-Node{
     background-image: url("../../../Resources/Images/Info/EndNode.png");
  }
  
  .Info-Bomb-Node{
     background-image: url("../../../Resources/Images/Info/BombNode.png"); 
  }
  
  .Info-Weight-Node{
    background-image: url("../../../Resources/Images/Info/WeightNode.png");  
  }
  
  .Info-Unvisited-Node{
     background-image: url("../../../Resources/Images/Info/UnvisitedNode.png");  
  }
  
  .Info-Visited-Node{
     background-image: url("../../../Resources/Images/Info/VisitedNode.png");  
  }
  
  .Info-Visited1-Node{
    background-image: url("../../../Resources/Images/Info/VisitedNode1.png");  
  }
  
  .Info-ShortestPathNode-Node{
     background-image: url("../../../Resources/Images/Info/ShortestPathNode.png"); 
  }
  
  .Info-WallNode-Node{
     background-image: url("../../../Resources/Images/Info/WallNode.png"); 
  }
  
  .Modal-Title{
    font-family: 'Righteous', cursive;
    text-align: center;
    font-weight: 900;
    font-size: 1.2rem;
  
    color: var(--text-color);
  }
  
  .Modal-Page{
    font-family: 'Righteous', cursive;
    margin-right: 2rem;
    font-size: 1rem;
  }
  
  .Modal-Body{
    height: 20rem;
    min-height: 20rem;
  }
  
  .Modal-BodyText{
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: 0.7rem;
  }
  
  .Modal-BodyText1{
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: 0.5rem;
  }
  
  .Model-Button-success{
    font-family: 'Righteous', cursive;
    color: var(--button-enable-text-color) !important;
  }
  
  .Model-Button-success:hover, .Model-Button-success:focus{
    background-color: var(--button-enable-text-color) !important;
    color: white !important;
  }
  
  .Model-Button-danger{
    font-family: 'Righteous', cursive;
    color: var(--button-disable-text-color) !important;
  }
  
  .Model-Button-danger:hover, .Model-Button-danger:focus{
    background-color: var(--button-disable-text-color) !important;
    color: white !important;
  }
  
  .Logo{
    width: 10rem; /*圖片寬度*/
    height: 10rem; /*圖片高度*/
    margin: auto;
    background-position: center; /*圖片置中*/
    background-repeat: no-repeat; /*圖片若太小不重複*/
    background-size: contain; /*讓圖片能scale*/
    background-image: url("../../../Resources/Images/Modal/Logo.png"); 
  }
  
  .ShortestPath{
    width: 10rem; /*圖片寬度*/
    height: 10rem; /*圖片高度*/
    margin: auto;
    background-position: center; /*圖片置中*/
    background-repeat: no-repeat; /*圖片若太小不重複*/
    background-size: contain; /*讓圖片能scale*/
    background-image: url("../../../Resources/Images/Modal/ShortestPath.png"); 
  }
  
  
  .Algorithm{
    width: 20rem; /*圖片寬度*/
    height: 10rem; /*圖片高度*/
    margin: auto;
    background-position: center; /*圖片置中*/
    background-repeat: no-repeat; /*圖片若太小不重複*/
    background-size: contain; /*讓圖片能scale*/
    background-image: url("../../../Resources/Images/Modal/Algorithms.gif"); 
  }
  
  .Maze{
    width: 20rem; /*圖片寬度*/
    height: 10rem; /*圖片高度*/
    margin: auto;
    background-position: center; /*圖片置中*/
    background-repeat: no-repeat; /*圖片若太小不重複*/
    background-size: contain; /*讓圖片能scale*/
    background-image: url("../../../Resources/Images/Modal/Mazes.gif");  
  }
  
  .WallWeight{
    width: 20rem; /*圖片寬度*/
    height: 10rem; /*圖片高度*/
    margin: auto;
    background-position: center; /*圖片置中*/
    background-repeat: no-repeat; /*圖片若太小不重複*/
    background-size: contain; /*讓圖片能scale*/
    background-image: url("../../../Resources/Images/Modal/WallWeight.gif"); 
  }
  
  .WeightValue{
    width: 20rem; /*圖片寬度*/
    height: 10rem; /*圖片高度*/
    margin: auto;
    background-position: center; /*圖片置中*/
    background-repeat: no-repeat; /*圖片若太小不重複*/
    background-size: contain; /*讓圖片能scale*/
    background-image: url("../../../Resources/Images/Modal/Plus or Minus.gif"); 
  }

  .AddBomb{
    width: 20rem; /*圖片寬度*/
    height: 10rem; /*圖片高度*/
    margin: auto;
    background-position: center; /*圖片置中*/
    background-repeat: no-repeat; /*圖片若太小不重複*/
    background-size: contain; /*讓圖片能scale*/
    background-image: url("../../../Resources/Images/Modal/AddBomb.gif");  
  }
  
  .StartDrag{
    width: 20rem; /*圖片寬度*/
    height: 10rem; /*圖片高度*/
    margin: auto;
    background-position: center; /*圖片置中*/
    background-repeat: no-repeat; /*圖片若太小不重複*/
    background-size: contain; /*讓圖片能scale*/
    background-image: url("../../../Resources/Images/Modal/StartDrag.gif");  
  }
  
  .Other{
    width: 22rem; /*圖片寬度*/
    height: 10rem; /*圖片高度*/
    margin: auto;
    background-position: center; /*圖片置中*/
    background-repeat: no-repeat; /*圖片若太小不重複*/
    background-size: contain; /*讓圖片能scale*/
    background-image: url("../../../Resources/Images/Modal/Other.png");  
  }
  
  #algorithmDescriptor {
      font-family: 'Roboto', sans-serif;
      text-align: center;
      color: var(--text-color);
      font-size: 0.8rem;
      margin-top: 2%;
  }
  
  #algorithmDescriptor > b {
      /* font-style: italic; */
      /* position: absolute; */
      color: var(--select-color);
  }
  
  #algorithmDescriptor > i {
      font-weight: 700;
  }
  
  .navbar{
    background-color: var(--navbar-color);
  }
  
  .navbar-logo{
    font-family: 'Righteous', cursive;
    font-size: 1rem !important;
    color: var(--nav-text-color) !important;
  }
  
  .nav-bar{
    width: 100%;
    font-family: 'Righteous', cursive;
  }
  
  .nav-item{
    margin: auto;
    font-size: 1.3rem;
  }
  
  /* https://stackoverflow.com/questions/64196389/dark-dropdown-items-in-react-bootstrap */
  .nav-item .dropdown-menu {
    font-size: 1rem;
    background: var(--dropdown-background);
  }

  .navbar-collapse:after {
    display: none;
}
  
  .nav-item .dropdown-item.active {
    background-color: var(--dropdown-color);
    color: var(--select-color);
  }

  .nav-item .dropdown-item:hover {
    background:  var(--dropdown-color);
  }
  
  .nav-link-default{
    font-size: 1rem;
    color: var(--nav-text-color) !important;
  }
  
  .nav-link-green{
    font-size: 1rem;
    color: var(--enable-color) !important;
  }
  
  .nav-link-red{
    font-size: 1rem;
    color: var(--diable-color) !important;
  }
  
  